<div class="flex items-center mt-6">
  <div class="flex-shrink-0">
    <a href="/authors/{{ post.data.author }}/">
      {% if postAuthor.image %}
        {% image postAuthor.image | replace("/assets/images/", "") or "authors/med-amine.png", "Photo of " + postAuthor.name, "100vw", "object-cover rounded-full w-10 h-10" %}
      {% else %}
        {% image "authors/med-amine.png", "Default author photo", "100vw", "object-cover rounded-full w-10 h-10" %}
      {% endif %}
    </a>
  </div>
  <div class="ml-3">
    <p class="pt-0 mt-0 text-sm font-medium leading-5">
      <a href="/authors/{{ post.data.author }}/" class="hover:underline {{ colors.authorCustom.name or colors.authorDefault.name }}">{{ postAuthor.name }}</a>
    </p>
    <div class="flex text-sm leading-5 {{ colors.authorCustom.date or colors.authorDefault.date }}">
      <time datetime="{{ post.date | dateToFormat("yyyy-MM-dd") }}">{{ post.date | dateToFormat("LLL dd, yyyy") }}</time>
    </div>
  </div>
</div>