{% set navPages = collections.pages | eleventyNavigation %}
<nav x-data="{ open: false }" class=" {{ colors.navCustom.barBg or colors.navDefault.barBg }} fixed w-w1/1 z-30">
  <div class="mx-auto md:w-w3/4 lg:w-w3/4">
    <div class="flex justify-between h-16 sm:h-12">
      <div class="flex w-full justify-between">
        <div class="flex flex-1 items-center">
          {# small logo hidden on md and above #}
          <a aria-label="Mobile Logo" href="/" class="px-4 -mt-2 block md:hidden {{ colors.logoCustom.mobile or colors.logoDefault.mobile }} hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}" alt="Mobile Logo">
            {% svg "logo-mobile","fill-current pt-2 w-12 hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}", "The Mobile Logo" %}
          </a>
          {# large logo hidden on small, block on md #}
          <a aria-label="Desktop Logo" href="/" class="hidden md:block {{ colors.logoCustom.desktop or colors.logoDefault.desktop }} hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}" alt="Desktop Logo">
            {% svg "logo", "w-12", "fill-current pt-2 w-20 hover:{{ colors.logoCustom.hover or colors.logoDefault.hover }}", "The Logo" %}
          </a>
        </div>
        <div class=" flex justify-around sm:grow sm:ml-6 sm:flex sm:items-center">
          {# 11ty Nav Plugin loop  #}
          {% for entry in navPages %}
            <a href="{{ entry.url | url }}" alt="Link to {{ entry.title }}" class="hidden sm:block px-4 py-1 text-sm font-medium rounded-full items-center {% if page.url == entry.url %} {{ colors.navCustom.textActiveBg or colors.navDefault.textActiveBg }} {{ colors.navCustom.textActive or colors.navDefault.textActive }} {% else %} {{ colors.navCustom.text or colors.navDefault.text }} hover:{{ colors.navCustom.textHover or colors.navDefault.textHover }} {% endif %} focus:outline-none focus:{{ colors.navCustom.textFocus or colors.navDefault.textFocus }} transition duration-150 ease-in-out">
              {{ entry.title }}
            </a>
          {% endfor %}
        </div>
        <div class="flex-0 sm:flex-1 flex justify-end">
          <a class="hidden sm:block p-1 my-2 px-6 bg-firstColor text-thirdColor hover:bg-secondColor rounded-full" href="/poducts/" alt="Link to About" class=" px-3 py-2 text-sm font-medium rounded-md items-center  text-firstColor hover:text-gray-800  focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">
              Products
          </a>
        </div>
      </div>

      {# Right side of Navbar  #}

      {# MOBILE MENU  #}
      <div class="flex items-center -mr-2 px-6 sm:hidden">
        {# Mobile menu button #}
        <button @click="open = !open" class="inline-flex items-center justify-center p-2 {{ colors.navCustom.mobileButton or colors.navDefault.mobileButton }} transition duration-150 ease-in-out rounded-md hover:{{ colors.navCustom.mobileButton or colors.navDefault.mobileButton }} hover:{{ colors.navCustom.mobileButtonBgover or colors.navDefault.mobileButtonBgHover }} focus:outline-none focus:{{ colors.navCustom.mobileButton or colors.navDefault.mobileButton }} focus:{{ colors.navCustom.mobileButton or colors.navDefault.mobileButton }}" x-bind:aria-label="open ? 'Close main menu' : 'Main menu'" aria-label="Main menu" x-bind:aria-expanded="open">
          {# Icon when menu is closed.  #}
          <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': open, 'block': !open }" class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <circle cx="12" cy="12" r="9" stroke="#241e55" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></circle>
          </svg>
          {# Icon when menu is open.  #}
          <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': !open, 'block': open }" class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke="#C9393B" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div x-description="Mobile menu, toggle classes based on menu state." x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'block': open, 'hidden': !open }" class="hidden sm:hidden">
    <div class="flex items-center justify-center h-9/10">
      <div class="h-1/3 -mt-36 flex flex-col w-full">
        {# 11ty Nav Plugin loop  #}
        {% for entry in navPages %}
          <a href="{{ entry.url | url }}" alt="Link to {{ entry.title }}" class="flex-1 pl-4 pr-4 py-2 pt-10 text-center {% if page.url == entry.url %} {{ colors.navCustom.mobileTextActive or colors.navDefault.mobileTextActive }}{% else %}{{ colors.navCustom.mobileBg or colors.navDefault.mobileBg }} hover:{{ colors.navCustom.mobileTextHover or colors.navDefault.mobileTextHover }} hover:{{ colors.navCustom.mobileBgHover or colors.navDefault.mobileBgHover }}  {% endif %} text-2xl {{ colors.navCustom.mobileText or colors.navDefault.mobileText }}  focus:outline-none focus:{{ colors.navCustom.mobileTextFocus or colors.navDefault.mobileTextFocus }} focus:{{ colors.navCustom.mobileBgFocus or colors.navDefault.mobileBgFocus }} transition duration-350 ease-in-out">
            {{ entry.title }}
          </a>
        {% endfor %}
      </div>
    </div>

  </div>
</nav>