<div class="">
  {% for tag in tags %}
    {# Knock out the first iteration of the loop to drop the default "post" tag generated in `posts/posts.json`. #}
    {# If there's a better/easier way of doing this, please LMK.  #}
    {% if not loop.first %}
      <div class="inline-block p-2">
        <a alt="tagged {{ tag }}" aria-label="tagged {{ tag }}" href="/tags/{{ tag | slug }}/" class="px-4 py-2 text-sm rounded-full
          {{colors.tagPillDefault.text}} dark:{{colors.tagPillDefault.dark.text}}
          {{colors.tagPillDefault.bg}}   dark:bg-gray-700
          hover:text-gray-300                       hover:dark:{{colors.tagPillDefault.dark.textHover}}
          hover:{{colors.tagPillDefault.bgHover}}   hover:dark:bg-secondColor
          transition-colors duration-200">{{ tag }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>