<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ seo.description }}">
    <title>{{ seo.title or title }}  | {{ meta.siteName }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url | absoluteUrl }}"/>
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed.xml"/>
    {# Only include the Flickity js if this page uses a hero.carousel  #}
    {% if hero == "carousel" or product.carousel -%}
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">
    {%- endif -%}
    {%- include "partials/head.njk" %}
    {% set prismOkaidia %}{% include "src/assets/css/prism-okaidia.css" %}{% endset -%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <style>
      {{prismOkaidia | safe}}
    </style>
  </head>
  <body class="{{ colors.siteTextCustom or siteTextDefault }} bg-thirdColor dark:bg-thirdColor-dark">
    {% svgsprite %}
      {% include "components/nav.njk" %}
    <div class="flex flex-col {{structure.g_customPageWidth}} mt-12 p-6 sm:p-0" style="min-height: calc(100vh - 48px);">

      {#  Allows a user to easily change the Hero type on the Home page...or any page.
          See /src/home.md for how to use. 
      #}
      {% if hero %}
        {% set heroComponent = ['components/hero-', hero, '.njk'] %}
        {% include heroComponent | join %}
      {% endif %}

      <div class="flex-grow w-full">
        <main class="block py-4 md:py-16" id="content">
          {{ content | safe }}
        </main>
      </div>

      {% include "partials/footer.njk" %}
    </div>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/js/theme.js"></script>

    {# Only include the Flickity js if this page uses a hero.carousel  #}
    {% if hero == "carousel" or product.carousel %}
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
      <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
    {% endif %}

  </body>
</html>