@tailwind base;

:root {
  --shadow-light: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  --shadow-dark: -8px -4px 8px 0px #141925, 8px 4px 12px 0px #1c232c, 4px 4px 4px 0px #2d3748 inset, -4px -4px 4px 0px #1a202c inset;
  --shadowL: var(--shadow-light);
  --shadowD: var(--shadow-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow: var(--shadow-dark);
  }
}

.dark {
  --shadow: var(--shadow-dark);
}

@layer utilities {
  .shadow-light {
    box-shadow: var(--shadowL);
  }
  .shadow-dark {
    box-shadow: var(--shadowD);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold text-gray-700 dark:text-gray-200;
}
h1 {
	@apply text-4xl;
}
h2 {
	@apply pt-12 text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-lg;
}
p a,
li a,
blockquote a,
dd a {
	@apply font-medium text-indigo-700 dark:text-gray-300;
}
p {
	@apply mt-4 dark:text-gray-300;
}
div {
	@apply dark:text-gray-400;
}
.wrapper > p:first-of-type {
	@apply p-0 m-0;
}

ol {
	@apply pt-4 ml-8 list-decimal dark:text-gray-300;
}
ul {
	@apply pt-4 ml-8 list-disc dark:text-gray-300;
}
blockquote {
	@apply pl-4 m-4 border-l-4 border-gray-500;
}
code {
	@apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
}
pre code {
	@apply bg-transparent border-0 rounded-none;
}

@tailwind components;

@tailwind utilities;
